{% extends 'worktime/base.html' %}
{% block main %}
<style>
    .form-control {
        margin-top: 8px;
        margin-bottom: 8px;
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>ログイン</h2>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-8">
        <form action="{% url 'worktime:login' %}" method="post">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            {% if form.non_field_errors %}
            <ul class="alert alert-danger list-unstyled">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
            {% for field in form %}
            <div class="form-group">
                <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}