<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Web タイムカード{% endblock title %}</title>
    <link rel="icon" sizes="any" type="image/svg+xml" href="{% static 'worktime/favicon.svg' %}">
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.5"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 6rem;
            caret-color: transparent;
        }

        a {
            text-decoration: none;
        }

        .inline-help-icon {
            vertical-align: middle;
            padding-left: 4px;
        }

        .print-header {
            display: none;
        }

        .signature {
            color: #555;
            font-size: 90%;
        }

        #alert-container {
            top: 50px;
            z-index: 9999;
        }
    </style>
    {% if messages %}
    <script>
        window.addEventListener('load', function () {
            document.querySelectorAll('.alert-auto-close').forEach(function (alert) {
                new bootstrap.Alert(alert);
                setTimeout(() => {
                    bootstrap.Alert.getInstance(alert).close();
                }, 4000);
            })
        });
    </script>
    {% endif %}
    <script>
        window.addEventListener('load', function () {
            document.querySelectorAll('.inline-help').forEach(function (element) {
                let label_for = element.dataset.labelFor;
                if (label_for) {
                    let labels = document.querySelectorAll("label[for='" + label_for + "']");
                    if (0 < labels.length) {
                        labels[0].setAttribute('data-bs-title', element.dataset.bsTitle);
                        element = labels[0];
                    }
                }
                let img = document.createElement('img');
                img.src = "{% static 'worktime/question.svg' %}";
                img.classList.add('inline-help-icon', 'no-print');
                element.appendChild(img);
                element.setAttribute('data-bs-toggle', 'tooltip');
                element.setAttribute('data-bs-placement', 'auto');
                new bootstrap.Tooltip(element);
            });
        });
    </script>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% if messages %}
    <div id="alert-container" class="container-fluid text-center fixed-top">
        {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-8">
                <div class="{% if message.tags %}{{ message.tags }}{% endif %} alert-auto-close alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'worktime/page_header.html' %}
    <main role="main">
        <div class="print-header">日時: {% now "Y年m月d日 H:i:s" %} ユーザ: {{ user.username }}</div>
        {% block main %}
        {% endblock main %}
    </main>
    {% include 'worktime/page_footer.html' %}
</body>

</html>