{% load static %}
<form id="logout_form" action="{% url 'worktime:logout' %}" method="post">
    {% csrf_token %}
</form>
<header>
    <nav class="navbar navbar-expand-lg bg-light fixed-top no-print">
        <div class="container-fluid">
            <img class="navbar-brand" style="height:45px;" src="{% static 'worktime/logo.svg' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'worktime:record' %}">打刻</a>
                    <a class="nav-item nav-link" href="{% url 'worktime:record_calendar' %}">勤務表</a>
                    <a class="nav-item nav-link" href="{% url 'worktime:time_off_request' %}">休暇申請</a>
                    <a class="nav-item nav-link" href="{% url 'worktime:readme' %}">使用方法</a>
                    {% if user.is_staff %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">管理機能</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'worktime:record_summary' %}">勤務集計</a>
                            <a class="dropdown-item" href="{% url 'worktime:time_off_list' %}">休暇承認</a>
                            <a class="dropdown-item" href="{% url 'worktime:time_off_status' %}">休暇集計</a>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">システム管理</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">こんにちは {{ user.get_username }} さん</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'worktime:password_change' %}">パスワード変更</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="#" onclick="document.getElementById('logout_form').submit();">ログアウト</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav-item">
                        <a class="btn btn-success btn-sm" href="{% url 'worktime:login' %}">ログイン</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>