{% load static %}
<header>
    <nav class="navbar navbar-expand-lg bg-light fixed-top no-print">
        <div class="container-fluid">
            <img class="navbar-brand" style="height:45px;" src="{% static 'worktime/logo.svg' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'worktime:record' %}">打刻</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'worktime:record_calendar' %}">勤務表</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'worktime:password_change' %}">パスワード変更</a>
                    </li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">管理画面</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'worktime:readme' %}">使用方法</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <form class="d-flex" action="{% url 'worktime:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success btn-sm" type="submit">{{ user.get_username }} からログアウト</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
</header>