{% extends 'worktime/base.html' %}
{% load static %}
{% block title %}使用方法{% if IS_STAFF %} (管理者用){% endif %} | {{ block.super }}{% endblock title %}
{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    #qrcode {
        margin: 20px;
    }

    .clickable-box {
        text-align: center;
    }

    .clickable-box>a>img {
        border: 1px solid #ccc;
        max-width: 100%;
        max-width: 100%;
    }

    .clickable-box>figure {
        margin: 0;
        display: none;
    }

    .clickable-box>figure>a>img {
        margin: 10px;
        max-height: 90%;
        max-width: 90%;
    }

    .clickable-box>figure:target {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .clickable-box>figure:target>a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(80, 80, 80, 0.8);
        color: inherit;
    }

    .clickable-box>figure:target>a>img {
        animation: fadein .2s;
    }

    @keyframes fadein {
        0% {
            transform: scale(0.8);
            opacity: 0.2;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>使用方法{% if IS_STAFF %} (管理者用){% endif %}</h2>
        </div>
    </div>
</div>
<div class="container">
    <h3>機能説明</h3>
    <ul>
        <li>スマートフォンや PC から出勤と退勤の打刻をおこなえます。</li>
        <li>ブラウザで <span id="site_url"></span> をブックマークすることをおすすめします。以下の QR コードでもアクセスできます。</li>
        <div id="qrcode"></div>
    </ul>
</div>
<div class="container mt-5">
    <h3>打刻</h3>
    <ul>
        {% if ENABLE_CHECK_LOCATION %}
        <li>勤務場所から {{ MAX_DISTANCE }} メートル以内で打刻操作をおこなってください。</li>
        {% endif %}
        <li>ボタンを押してから打刻が記録されるまでに、タイムラグが生じる場合があります。</li>
        <li>同じ日に複数回の出勤打刻をした場合は、同日の最初の打刻が採用されます。出勤の打刻に訂正が必要な場合は、管理者に申し出て修正を依頼してください。</li>
        <li>同じ日に複数回の退勤打刻をした場合は、同日の最後の打刻が採用されます。このため打刻後に追加の業務が発生した場合は、そのまま再度の退勤打刻をおこなってください。再度出勤の打刻をおこなう必要はありません。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-1"><img src="{% static 'worktime/capture_record.png' %}"></a>
            <figure id="capture-modal-1">
                <a id="capture-1" href="#capture-1"><img src="{% static 'worktime/capture_record.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>勤務表</h3>
    <ul>
        <li>月単位の打刻記録および勤務時間を確認できます。</li>
        {% if IS_STAFF %}
        <li>管理者は対象者をプルダウンで切り替えることができます。プルダウンには無効化されている利用者も表示されます。無効な利用者は名前の末尾にアスタリスク記号が付きます。</li>
        {% endif %}
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-2"><img src="{% static 'worktime/capture_record_calendar.png' %}"></a>
            <figure id="capture-modal-2">
                <a id="capture-2" href="#capture-2"><img src="{% static 'worktime/capture_record_calendar.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>休暇申請</h3>
    <ul>
        <li>日付を指定して休暇を取得することを管理者に申請します。管理者が申請を承認すると勤務表に休暇が反映されます。</li>
        <li>画面の下部に今年度の全ての申請、および過去の年度の未承認の申請が表示されます。</li>
        <li>管理者が申請を承認する前は申請を取り消すことが出来ます。承認後に変更が必要な場合は、管理者に申し出て修正を依頼してください。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-3"><img src="{% static 'worktime/capture_time_off_request.png' %}"></a>
            <figure id="capture-modal-3">
                <a id="capture-3" href="#capture-3"><img src="{% static 'worktime/capture_time_off_request.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>パスワード変更</h3>
    <ul>
        <li>パスワードを変更することができます。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-4"><img src="{% static 'worktime/capture_password_change.png' %}"></a>
            <figure id="capture-modal-4">
                <a id="capture-4" href="#capture-4"><img src="{% static 'worktime/capture_password_change.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
{% if IS_STAFF %}
<div class="container mt-5">
    <h3>勤務集計</h3>
    <ul>
        <li>管理者専用の機能です。</li>
        <li>月単位ですべての有効な利用者の勤務時間のサマリを一覧で確認できます。</li>
        <li>無効化されている利用者の勤務時間を確認するには、勤務表画面のプルダウンを利用してください。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-5"><img src="{% static 'worktime/capture_record_summary.png' %}"></a>
            <figure id="capture-modal-5">
                <a id="capture-5" href="#capture-5"><img src="{% static 'worktime/capture_record_summary.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>休暇承認</h3>
    <ul>
        <li>管理者専用の機能です。</li>
        <li>承認待ちの休暇申請が表示されます。</li>
        <li>対象日の年度 ({{ YEAR_FIRST_MONTH }}月1日から起算) の同じ種類の休暇申請の取得済の回数が表示されます。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-6"><img src="{% static 'worktime/capture_time_off_accept.png' %}"></a>
            <figure id="capture-modal-6">
                <a id="capture-6" href="#capture-6"><img src="{% static 'worktime/capture_time_off_accept.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>休暇集計</h3>
    <ul>
        <li>管理者専用の機能です。</li>
        <li>指定した年度 ({{ YEAR_FIRST_MONTH }}月1日から起算) の種類別の休暇の取得回数を表示します。</li>
        <li>既に承認済の休暇が集計の対象です。承認待ちの休暇は含まれません。</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 m-3 clickable-box">
            <a href="#capture-modal-7"><img src="{% static 'worktime/capture_time_off_status.png' %}"></a>
            <figure id="capture-modal-7">
                <a id="capture-7" href="#capture-7"><img src="{% static 'worktime/capture_time_off_status.png' %}"></a>
            </figure>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>システム管理</h3>
    <ul>
        <li>管理者専用の機能です。</li>
        <li>利用者の追加や変更ができます。</li>
        <li>日付ごとに営業日や休業日の設定をおこなえます。</li>
        <li>打刻記録の修正や確認ができます。打刻した端末の情報{% if ENABLE_CHECK_LOCATION %}や打刻場所の位置情報{% endif %}を確認することもできます。</li>
    </ul>
</div>
{% endif %}
<div class="container mt-5">
    <h3>制限事項</h3>
    <ul>
        <li>0 時から 24 時の間に出勤と退勤の順番で打刻がある場合のみ対応します。日付をまたぐ退勤や徹夜勤務は対応しておりません。エラーとして判定しますので、個別の調整を願います。</li>
        <li>打刻の修正機能はありません。修正が必要な場合は、管理者に申し出て修正を依頼してください。</li>
    </ul>
</div>
<div class="container mt-5">
    <h3>謝辞</h3>
    <ul>
        <li>画像イラストの素材は 「<a href="https://www.irasutoya.com/" target="_blank">いらすとや</a>」 の公開素材を利用しています。</li>
        <li>音源データは 「<a href="https://www.springin.org/sound-stock/" target="_blank">Springin&#39; Sound Stock</a>」 の公開素材を利用しています。</li>
    </ul>
</div>
<script type="text/javascript">
    var url = window.location.href.replace(/worktime\/readme\/([\?#].*)?/, '');
    document.getElementById('site_url').innerText = url;
    new QRCode(document.getElementById("qrcode"), {
        text: url,
        width: 120,
        height: 120
    });
</script>
{% endblock main %}