{% extends 'worktime/base.html' %}
{% load custom_filter %}
{% load static %}
{% load humanize %}
{% block title %}{{ year }}年{{ month }}月 {{ users|dict_value:username|default:username }} | {{ block.super }}{% endblock title %}
{% block extra_head %}
<link href="{% static 'worktime/print.css' %}" rel="stylesheet">
<style>
    svg.check {
        width: 14px;
        height: 14px;
        stroke: green;
    }
</style>
<link href="{% static 'worktime/sortable_table.css' %}" rel="stylesheet">
<script src="{% static 'worktime/sortable_table.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container text-center">
    <div class="row">
        <div class="col mb-3">
            <h2>{{ year }}年{{ month }}月 {{ users|dict_value:username|default:username }}</h2>
        </div>
    </div>
</div>
<div class="container no-print">
    <div class="row justify-content-center text-center">
        {% if request.user.is_staff %}
        <div class="col-lg-6 mb-3">
            <form id="record_calendar" method="get">
                <select class="form-select" name="username" onchange="this.form.submit()">
                    {% if users|dict_value:username is None %}
                    <option value=""></option>
                    {% endif %}
                    {% for o_username, o_display in users.items %}
                    {% if o_username == username %}
                    <option value="{{ o_username }}" selected>{{ o_display }}</option>
                    {% else %}
                    <option value="{{ o_username }}">{{ o_display }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="year" value="{{ year }}">
                <input type="hidden" name="month" value="{{ month }}">
            </form>
        </div>
        {% endif %}
        <div class="col-lg-6 mb-3">
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button class="btn btn-outline-secondary" onclick="show_calendar(-12)">&lt; 年</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(-1)">&lt; 月</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(0)">今月</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(1)">月 &gt;</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(12)">年 &gt;</button>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button class="btn btn-outline-secondary" onclick="window.print();">印刷</button>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="table-responsive">
        <table id="summary" class="table align-middle text-nowrap text-center">
            <thead>
                <tr>
                    <th>エラー</th>
                    <th>日数</th>
                    <th>営業日</th>
                    <th>出勤日</th>
                    <th>休暇申請</th>
                    <th>遅刻・早退</th>
                    <th>早出</th>
                    <th>残業</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>{% if summary.errors %}{{ summary.errors }} 個{% else %}-{% endif %}</td>
                    <td>{% if summary.days %}{{ summary.days }} 日{% else %}-{% endif %}</td>
                    <td>{% if summary.attendance_days %}{{ summary.attendance_days }} 日{% else %}-{% endif %}</td>
                    <td>{% if summary.work_days %}{{ summary.work_days }} 日{% else %}-{% endif %}</td>
                    <td>{% if 0 < summary.time_off_count %}{{ summary.time_off_count }} 回{% if 0 < summary.time_off_not_yet_accepted_count %}<br>(承認待ち){% endif %}{% else %}-{% endif %}</td>
                    <td>{% if summary.behind_minutes %}{{ summary.behind_count }} 回<br>({{ summary.behind_minutes|intcomma }} 分){% else %}-{% endif %}</td>
                    <td>{% if summary.early_hours %}{{ summary.early_hours }} 時間<br>({{ summary.early_minutes|intcomma }} 分){% else %}-{% endif %}</td>
                    <td>{% if summary.overtime_hours %}{{ summary.overtime_hours }} 時間<br>({{ summary.overtime_minutes|intcomma }} 分){% else %}-{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container mb-3">
    <div class="table-responsive">
        <table id="entries" class="table table-hover table-bordered text-nowrap text-center sortable">
            <thead>
                <tr class="table-dark">
                    <th>日付</th>
                    <th>休日</th>
                    <th>勤務</th>
                    <th>出勤</th>
                    <th>退勤</th>
                    <th>遅刻・早退</th>
                    <th>早出</th>
                    <th>残業</th>
                    <th>エラー</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if entries %}
                {% for entry in entries %}
                {% if entry.error %}
                <tr class="table-warning">
                    {% elif not entry.attendance %}
                <tr class="table-success">
                    {% else %}
                <tr>
                    {% endif %}
                    <th data-sort="{{ entry.date|date:'j' }}">{{ entry.date|date:'j (D)' }}</th>
                    <td>{{ entry.holiday }}</td>
                    {% if entry.past %}
                    {% if entry.work %}
                    <td data-sort="1">
                        <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </td>
                    {% else %}
                    <td data-sort="0"></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td data-sort="{{ entry.begin_record|date:'Hi' }}">{{ entry.begin_record|default:"" }}</td>
                    <td data-sort="{{ entry.end_record|date:'Hi' }}">{{ entry.end_record|default:"" }}</td>
                    <td>{{ entry.behind|default:"" }}</td>
                    <td>{{ entry.early|default:"" }}</td>
                    <td>{{ entry.overtime|default:"" }}</td>
                    <td>{{ entry.error|default:"" }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9"><span class="inline-help" data-bs-title="未来のカレンダは定期的に準備されますのでお待ちください">営業日カレンダが作成されていません</span></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    const year = Number("{{ year }}")
    const month = Number("{{ month }}")
    function show_calendar(delta) {
        const username = "{{ username }}";
        const months = year * 12 + (month - 1) + delta;
        const now = new Date();
        let n_year, n_month;
        if (delta == 0) {
            n_year = now.getFullYear();
            n_month = now.getMonth() + 1;
        } else {
            n_year = Math.floor(months / 12);
            n_month = months % 12 + 1;
        }
        location.href = "{% url 'worktime:record_calendar' %}?username=" + username + "&year=" + n_year + "&month=" + n_month
    }
</script>
{% endblock main %}