{% extends 'worktime/base.html' %}
{% load static %}
{% block title %}{{ year }}年{{ month }}月 | {{ block.super }}{% endblock title %}
{% block extra_head %}
<link href="{% static 'worktime/print.css' %}" rel="stylesheet">
<link href="{% static 'worktime/sortable_table.css' %}" rel="stylesheet">
<script src="{% static 'worktime/sortable_table.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container text-center">
    <div class="row">
        <div class="col mb-3">
            <h2>{{ year }}年{{ month }}月</h2>
        </div>
    </div>
</div>
<div class="container no-print">
    <div class="row justify-content-center text-center">
        <div class="col mb-3">
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button class="btn btn-outline-secondary" onclick="show_calendar(-12)">&lt; 年</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(-1)">&lt; 月</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(0)">今月</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(1)">月 &gt;</button>
                <button class="btn btn-outline-secondary" onclick="show_calendar(12)">年 &gt;</button>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button class="btn btn-outline-secondary" onclick="window.print();">印刷</button>
                <button class="btn btn-outline-secondary" onclick="download_csv();">ダウンロード</button>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="table-responsive">
        <table id="entries" class="table table-hover table-bordered text-nowrap text-center sortable">
            <thead>
                <tr class="table-dark">
                    <th scope="col">氏名</th>
                    <th scope="col">エラー</th>
                    <th scope="col">出勤日</th>
                    <th scope="col">休暇申請</th>
                    <th scope="col">遅刻・早退</th>
                    <th scope="col">早出</th>
                    <th scope="col">残業</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="7"><span id="load-progress">データが読み込まれていません</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    const year = Number("{{ year }}")
    const month = Number("{{ month }}")
    let entries = [];
    function create_rows() {
        let rows = [[
            'ID',
            '氏名',
            '年',
            '月',
            '日数(日)',
            '営業日(日)',
            '出勤日(日)',
            '休暇申請(合計)(回)',
            '休暇申請(承認待ち)(回)',
            '遅刻早退(回)',
            '遅刻早退(時間)',
            '遅刻早退(分)',
            '早出(回)',
            '早出(時間)',
            '早出(分)',
            '残業(回)',
            '残業(時間)',
            '残業(分)',
            'エラー(個)'
        ]];
        for (let entry of entries) {
            let summary = entry.summary;
            rows.push([
                '"' + entry.id + '"',
                '"' + entry.name + '"',
                year,
                month,
                summary.days,
                summary.attendance_days,
                summary.work_days,
                summary.time_off_count,
                summary.time_off_not_yet_accepted_count,
                summary.behind_count,
                summary.behind_hours,
                summary.behind_minutes,
                summary.early_count,
                summary.early_hours,
                summary.early_minutes,
                summary.overtime_count,
                summary.overtime_hours,
                summary.overtime_minutes,
                summary.errors
            ])
        }
        return rows;
    }
    function download_csv() {
        const now = new Date();
        let current = (now.getFullYear()).toString();
        current += (now.getMonth() + 1).toString().padStart(2, '0');
        current += (now.getDate()).toString().padStart(2, '0');
        const bom = new Uint8Array([0xef, 0xbb, 0xbf])
        const data = create_rows().map(columns => columns.join(',')).join('\n')
        const filename = 'summary-' + year.toString().padStart(4, '0') + '-' + month.toString().padStart(2, '0') + '-' + current + '.csv';
        download(new Blob([bom, data]), filename, { type: 'text/csv' });
    }
    function download(blob, filename, options) {
        const link = document.createElement('a');
        link.download = filename;
        link.href = URL.createObjectURL(blob, options);
        link.click();
        URL.revokeObjectURL(link.href)
    }
    function show_calendar(delta) {
        const months = year * 12 + (month - 1) + delta;
        const now = new Date();
        let n_year, n_month;
        if (delta == 0) {
            n_year = now.getFullYear();
            n_month = now.getMonth() + 1;
        } else {
            n_year = Math.floor(months / 12);
            n_month = months % 12 + 1;
        }
        location.href = "{% url 'worktime:record_summary' %}?year=" + n_year + "&month=" + n_month
    }
    async function async_load_entries() {
        entries = [];
        const users_response = await fetch("{% url 'worktime:api_users_list' %}");
        if (!users_response.ok) {
            throw new Error('Response error');
        }
        const users = await users_response.json();
        const progress = document.getElementById("load-progress");
        for (const id in users) {
            const summary_response = await fetch("{% url 'worktime:api_record_summary' %}?id=" + id + "&year=" + year + "&month=" + month);
            if (!summary_response.ok) {
                throw new Error('Response error');
            }
            const summary = await summary_response.json();
            entries.push({ id: id, name: users[id], summary: summary });
            progress.textContent = '集計中 ' + Math.round(entries.length / Object.keys(users).length * 100) + ' %';
        }
        const tbody = document.getElementById("entries").getElementsByTagName('tbody')[0];
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }
        for (let entry of entries) {
            let summary = entry['summary']
            let row = tbody.insertRow();
            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);
            const cell3 = row.insertCell(2);
            const cell4 = row.insertCell(3);
            const cell5 = row.insertCell(4);
            const cell6 = row.insertCell(5);
            const cell7 = row.insertCell(6);
            cell1.innerHTML = "<a href=\"{% url 'worktime:record_calendar' %}?username=" + entry.id + "&year=" + year + "&month=" + month + "\">" + entry.name + "</a>";
            cell2.innerHTML = 0 < summary.errors ? summary.errors + ' 個' : '';
            cell2.setAttribute("data-sort", summary.errors)
            cell3.innerHTML = 0 < summary.work_days ? summary.work_days + ' 日' : '';
            cell3.setAttribute("data-sort", summary.work_days)
            cell4.innerHTML = 0 < summary.time_off_count ? summary.time_off_count + ' 回' + (0 < summary.time_off_not_yet_accepted_count ? ' (承認待ち)' : '') : '';
            cell4.setAttribute("data-sort", summary.time_off_count)
            cell5.innerHTML = 0 < summary.behind_count ? summary.behind_count + ' 回 (' + summary.behind_minutes.toLocaleString() + ' 分)' : '';
            cell5.setAttribute("data-sort", summary.behind_count)
            cell6.innerHTML = 0 < summary.early_hours ? summary.early_hours + ' 時間 (' + summary.early_minutes.toLocaleString() + ' 分)' : '';
            cell6.setAttribute("data-sort", summary.early_minutes)
            cell7.innerHTML = 0 < summary.overtime_hours ? summary.overtime_hours + ' 時間 (' + summary.overtime_minutes.toLocaleString() + ' 分)' : '';
            cell7.setAttribute("data-sort", summary.overtime_minutes)
        }
    }
    window.addEventListener('load', async_load_entries);
</script>
{% endblock main %}