{% extends 'worktime/base.html' %}
{% block title %}休暇申請 | {{ block.super }}{% endblock title %}
{% block main %}
<style>
    .form-control {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .errorlist {
        color: #b00000;
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>休暇申請</h2>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-8">
        <form id="record" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-group row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary btn-block">申請</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if entries %}
<form id="time_off_cancel" action="{% url 'worktime:time_off_cancel' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="">
</form>
<script>
    function send_cancel(id) {
        if (!confirm('選択した申請を取り消しますか?')) {
            return;
        }
        const form = document.getElementById('time_off_cancel');
        form.id.value = id;
        form.submit();
    }
</script>
<div class="container mt-5 mb-3">
    <div class="table-responsive">
        <table id="entries" class="table table-hover align-middle text-nowrap text-center">
            <thead>
                <tr>
                    <th scope="col">対象日</th>
                    <th scope="col">種別</th>
                    <th scope="col">承認</th>
                    <th scope="col">申請日時</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for entry in entries %}
                <tr>
                    <th>{{ entry.date|date:"Y年n月j日(D)" }}</th>
                    <td>{{ entry.display_name }}</td>
                    {% if entry.accepted %}
                    <td>承認済</td>
                    {% else %}
                    <td><button type="button" class="btn btn-secondary btn-sm" onclick="send_cancel('{{ entry.id }}')">取消</button></td>
                    {% endif %}
                    <td>{{ entry.created_at|date:"Y年n月j日(D) H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock main %}