{% extends 'worktime/base.html' %}
{% load custom_filter %}
{% load static %}
{% block title %}休暇承認 | {{ block.super }}{% endblock title %}
{% block extra_head %}
<link href="{% static 'worktime/print.css' %}" rel="stylesheet">
<link href="{% static 'worktime/sortable_table.css' %}" rel="stylesheet">
<script src="{% static 'worktime/sortable_table.js' %}"></script>
{% endblock %}
{% block main %}
<div class="container text-center">
    <div class="row">
        <div class="col mb-3">
            <h2>休暇承認</h2>
        </div>
    </div>
</div>
<div class="container">
    <form id="time_off_accept" action="{% url 'worktime:time_off_accept' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="">
    </form>
</div>
<script>
    function send_accept(id) {
        const form = document.getElementById('time_off_accept');
        form.id.value = id;
        form.submit();
    }
</script>
<div class="container mb-3">
    <div class="table-responsive">
        <table id="calendar" class="table table-hover table-bordered align-middle text-nowrap text-center sortable">
            <thead>
                <tr class="table-dark">
                    <th scope="col">年度</th>
                    <th scope="col">対象日</th>
                    <th scope="col">氏名</th>
                    <th scope="col">種別</th>
                    <th scope="col">申請日時</th>
                    <th scope="col">申請回数</th>
                    <th scope="col">承認</th>
                    <th scope="col">連絡欄</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if entries %}
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.year }}</td>
                    <td data-sort="{{ entry.date|date:"Ymd" }}">{{ entry.date|date:"Y年n月j日(D)" }}</td>
                    <td>{{ users|dict_value:entry.username|default:entry.username }}</td>
                    <td>{{ entry.display_name }}</td>
                    <td data-sort="{{ entry.created_at|date:"YmdHis" }}">{{ entry.created_at|date:"Y年n月j日(D) H:i" }}</td>
                    <td data-sort="{{ entry.count }}">{{ entry.count }} 回</td>
                    <td><button type="button" class="btn btn-success btn-sm" onclick="send_accept('{{ entry.id }}')">承認</button></td>
                    <td>{{ entry.contact|default:""|truncatechars:20 }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">承認待ちの休暇申請はありません</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}