{% extends 'worktime/base.html' %}
{% block title %}休暇申請 | {{ block.super }}{% endblock title %}
{% block main %}
<style>
    .form-control {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .errorlist {
        color: #b00000;
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>休暇申請</h2>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-8">
        <form id="record" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-group row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary btn-block">申請</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}