{% extends "admin/change_form.html" %}
{% block field_sets %}
{{ block.super }}
{% if original.latitude and original.longitude %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<style>
    #mapid {
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
    }

    .map_button {
        display: inline-block;
        border: 1px solid #888;
        background: #fff;
        color: #888;
        margin: 8px 2px;
        padding: 4px 20px;
        border-radius: 4px;
    }

    .map_button:hover {
        background: #eee;
    }
</style>
<button type="button" class="map_button" onclick="map.setView(point);">打刻場所</button>
<button type="button" class="map_button" onclick="map.setView(origin);">基点</button>
<div id="mapid"></div>
<script>
    const map = L.map('mapid');
    const max_distance = Number("{{ MAX_DISTANCE }}");
    const origin = [Number("{{ LOCATION_ORIGIN.0 }}"), Number("{{ LOCATION_ORIGIN.1 }}")];
    const point = [Number("{{ original.latitude }}"), Number("{{ original.longitude }}")];
    function show_map() {
        L.control.scale().addTo(map);
        const layer_tile = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' }).addTo(map);
        L.circle(origin, { stroke: false, fillColor: '#1e90ff', fillOpacity: 0.2, radius: max_distance }).addTo(map);
        L.polyline([origin, point], { 'color': 'yellow', 'weight': 4, 'opacity': 0.5 }).addTo(map);
        const icon_origin = L.icon({
            iconUrl: 'data:image/svg+xml,' + encodeURIComponent('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 200 200"><circle cx="100" cy="100" r="90" stroke-width="0" fill="yellow"></circle></svg>'),
            iconSize: [14, 14],
            iconAnchor: [7, 7]
        });
        const marker_origin = L.marker(origin, { icon: icon_origin }).addTo(map);
        const marker_point = L.marker(point).addTo(map);
        const point_popup = marker_point.bindPopup("{{ original.location }}", { autoClose: false });
        map.fitBounds(L.latLngBounds(origin, point));
        point_popup.openPopup();
    }
    window.addEventListener('load', show_map);
</script>
{% endif %}
{% endblock %}