{% extends "admin/change_form.html" %}
{% block field_sets %}
{{ block.super }}
{% if original.latitude and original.longitude %}
<h2>{{ original.location }}</h2>
<div id="map"></div>
<script>
    function show_map(id, latitude, longitude, accuracy) {
        let zoom = 20;
        for (let param of [
            [10000000, 1], [5000000, 2], [2000000, 3],
            [1000000, 4], [500000, 5], [200000, 6],
            [100000, 7], [50000, 8], [20000, 9],
            [10000, 10], [5000, 11], [2000, 12],
            [1000, 13], [500, 14], [200, 15],
            [100, 17], [50, 18], [20, 19]]) {
            if (param[0] < accuracy) {
                zoom = param[1]; break;
            }
        }
        let iframe = document.createElement('iframe');
        iframe.loading = 'lazy';
        iframe.width = '100%';
        iframe.height = '400';
        iframe.style = 'border: 0; margin-bottom: 8px;';
        iframe.frameborder = '0';
        iframe.allowfullscreen = ''
        iframe.src = 'https://maps.google.com/maps?output=embed&t=m&z=' + zoom + '&q=' + latitude + ',' + longitude;
        document.getElementById('map').appendChild(iframe);
    }
    show_map('map', Number("{{ original.latitude }}"), Number("{{ original.longitude }}"), Number("{{ original.accuracy }}"));
</script>
{% endif %}
{% endblock %}